body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,rgb(168, 32, 157),rgb(243, 134, 238));
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right,rgb(194, 50, 182),rgba(255, 0, 238, 0.514));
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.carousel {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border: 2px solid #7a155941; /* Ciano */
    border-radius: 10px;
}

.carousel-item {
    display: none;
    padding: 20px;
    text-align: center;
}

.carousel-item.active {
    display: block;
    animation: fade 1s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right,rgb(194, 50, 182),rgba(255, 0, 238, 0.514));
    color: white;
    bottom: 0;
}
